.form-content {
    width: 30%;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 2px;
    margin: 15% auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.username, .password {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    background-color: #8cc8e9;
    border-radius: 4px;
    font-size: 20px;
    padding: 0px 20px 5px 20px;
    color: white;
    border: 2px solid #8cc8e9;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0096ff;
}